<html>
	<head>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.4/css/bootstrap.min.css" integrity="2hfp1SzUoho7/TsGGGDaFdsuuDL0LX2hnUp6VkX3CUQ2K4K+xjboZdsXyp4oUHZj" crossorigin="anonymous">
	</head>
	<body>
	<div class = "Jumbotron">
		<div class = "container">
			<h1>Welcome to my One Month Python Project</h1>
			<p> My name is Alex Ivoru and i'm the founder of Ivory Goods LLC. I built this project for <a href="http://ivorybrands.com">Ivory Brands</a>
		</div>
	</div>
	</body>
</html>

